/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.rental-detail {
    flex: 2;
}

/* New container for the carousel and map */
#right-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#map-container {
    height: 400px;
    width: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

/* Carousel Styling */
#carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-image {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 100;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-images.active {
    cursor: grabbing;
}

.back-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #218838;
}

footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
