body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.rental-detail {
    flex: 2;
    order: 1; /* Order set to 1 so rental details come first */
}

#map-container {
    flex: 1;
    order: 2; /* Order set to 2 so map appears after the details */
    min-width: 300px;
    height: 400px;
}

.map {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
