/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #3498db;
    padding: 20px;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 150px; /* Adjust height as needed */
}

/* Google Sign-In Button */
#g_id_signin {
    margin-top: 20px; /* Space between button and other content */
}

/* Header Title */
header h1 {
    font-size: 32px; /* H1 size */
    margin: 0;
    text-align: center;
}

/* Auth container styling */
.auth-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;

}

#user-email {
    margin-left: 10px;
    font-size: 16px;
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 6px; /* Rounded corners */
    cursor: pointer;
}

.button-primary {
    background-color: #3498db; /* Primary color */
    color: white;
}

.button-secondary {
    background-color: #2ecc71; /* Secondary color */
    color: white;
}

button:hover {
    opacity: 0.9; /* Hover effect */
}

/* Main styling */
main {
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
    display: grid;
    gap: 15px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input, form textarea, form button {
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
}

form button:hover {
    background-color: #2980b9;
}

/* Status Dots and Text */
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot.green {
    background-color: #28a745;
}

.dot.orange {
    background-color: #fd7e14;
}

.dot.red {
    background-color: #dc3545;
}

.dot.blue {
    background-color: #3498db;
}

.status-text {
    display: inline-block;
    margin-left: 5px;
}

.status-text.green {
    color: #28a745;
}

.status-text.orange {
    color: #fd7e14;
}

.status-text.red {
    color: #dc3545;
}

.status-text.blue {
    color: #3498db;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 26px; /* Adjusted for smaller screens */
    }

    .rental-item h3 {
        font-size: 20px;
    }

    .rental-item p {
        font-size: 14px;
    }

    main {
        padding: 15px;
    }

    button {
        padding: 8px 16px;
    }
}

@media (max-width: 485px) {
    header h1 {
        font-size: 22px;
    }

    .form input, .form textarea {
        padding: 10px;
    }

    .form button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
